.reset{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    width: 80px;
    height: 58px;
    font-size: 30px;
    cursor: pointer;
    background-color: #eee;
    border: none;
}

.val {
    width: 110px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: monospace;
    color: black;
    background-color: white;
    border-radius: 5px;
}



